@charset "UTF-8";
/**
 * خريطه هذا الملف
 * 1) (Body , HTML , p , h1.....) اساسيات للموقع  
 * 2) (قائمة التوقيت واللينكات وهكذا) تعديل اشياء ستكون ثابته فى جميع الصفحات 
 * 3) الصفحة الرئيسية
 * 4) صفحة الاذاعه
 * 5) صفحة المجلاات
 * 6) صفحة المقالات
 * 7) انيميشن لجميع الصفحات
 */
/* 1) استدعاء خط للارقام لوضعها فى الوقت  ==================*/
@font-face {
  font-family: fontNumber;
  src: url(font-number.ttf);
}

/* -- 1) تعديل الجسم الخاص بالموقع ======================= */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: rtl;
  /* الخطط الخاص بالصفحة ========================*/
  font-family: 'Cairo', sans-serif;
}

/* -- 1) تعديل البارجرافات والعناوين فى اى صفحة ============================== */
p {
  line-height: 1.3;
}

p,
h6,
h5,
h4,
h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

ul {
  list-style: none;
  padding-right: 0;
}

/* -- 1) تعديل اللينكات فى كل الصفحات ============================= */
a {
  text-decoration: none;
}

/* --- عداد البحث ================================================ */
.all-sonan-bx-cn .founded-search {
  color: #10526a;
}

.founded-search {
  color: #f1eddc;
  display: none;
}

.founded-search.active {
  display: block;
}

/* 2) الهيدر سيكون ثابت فى جميع الصفحات ==================== */
/* -- 2) تعديل الراس او بداية الصفحه (اللوجو واسم الصفحة) ====================== */
/* -- 2) تعديل مقاس اللوجو  ============================ */
.logo-img-h {
  max-width: 100px;
  -webkit-filter: drop-shadow(0px 0.2rem 0.8rem rgba(3, 13, 17, 0.27));
          filter: drop-shadow(0px 0.2rem 0.8rem rgba(3, 13, 17, 0.27));
}

/* -- 2) القائمة المنسدله ============================= */
.dropdown-playlist .logo-img-h {
  margin-top: 3rem;
}

/* ==================== -- 2) هيدر ===================== */
.header {
  background-color: #115973;
  padding: 1rem 0;
  text-align: center;
  /* تعديل اسم الصفحة ========== */
  /* السيرش الموجود فى صفحة المقالات فقط ==========*/
}

.header .page-name {
  color: #f1eddc;
  font-size: 1.1rem;
}

.header .search-bx input:focus {
  border-color: #136380 !important;
}

.header .search-bx i.circular.icon {
  color: #10526a;
  top: 0.12em !important;
  right: .1em !important;
}

/* ================== -- 2) هذا الناف ايضا سيكون ثابت فى جميع الصفحات ============ */
/* ================= -- 2) الناف بار الاسفل ===================== */
.bottom-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
  width: 100%;
  /* Edit Whole Box */
}

.bottom-nav .n-links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.bottom-nav .n-links-box .link-nav {
  color: #f1eddc;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #10526a;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.bottom-nav .n-links-box .link-nav.dark-point {
  color: #3c3c3f;
}

.bottom-nav .n-links-box .link-nav.dark-point:hover {
  background-color: #11556e;
}

.bottom-nav .n-links-box .link-nav.note-listen {
  position: relative;
}

.bottom-nav .n-links-box .link-nav.note-listen[title]:hover::after {
  content: attr(title);
  background-color: #10526a;
  color: #f1eddc;
  position: absolute;
  top: -25px;
  right: 0px;
  padding: 5px;
  border-radius: 5px 5px 0 0px;
  -webkit-box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
  font-family: 'Cairo', sans-serif;
  font-size: 0.6rem;
}

.bottom-nav .n-links-box .link-nav svg {
  vertical-align: middle;
}

.bottom-nav .n-links-box .link-nav:hover {
  background-color: #0d4154;
}

.bottom-nav .n-links-box button.link-nav {
  font-family: 'Cairo', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background: #10526a;
  border-radius: 7px;
  color: #f1eddc;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  overflow: visible;
  border-radius: 0;
}

.bottom-nav .n-links-box button.link-nav:focus {
  border: none;
  outline: none;
}

.bottom-nav .n-links-box button.link-nav:hover {
  background-color: #0d4154;
}

/* ================== -- 2) هذه القائمه ايضا ستكون ثابتة فى جميع الصفحات =================*/
/* ================== -- 2)  القائمة المنسدله  التى تحتوى على التوقيت ==================== */
.dropdown-list-clalender {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0%;
  z-index: 800;
  background: linear-gradient(230deg, #115973, #187b9f);
  text-align: center;
  /* تعديل زر الاغلاق */
}

.dropdown-list-clalender .list-close {
  cursor: pointer;
  font-size: 2rem;
  color: #f1eddc;
  margin-top: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-list-clalender .list-close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dropdown-list-clalender .list-ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  text-align: right;
}

.dropdown-list-clalender .list-ul .item {
  margin-bottom: 0.4rem;
}

.dropdown-list-clalender .list-ul .item:not(:last-child) {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-list-clalender .list-ul .item:not(:last-child):hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.dropdown-list-clalender .list-ul .item:not(:last-child)::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #f1eddc;
  vertical-align: middle;
}

.dropdown-list-clalender .list-ul .item a {
  font-size: 1.3rem;
  color: #f1eddc;
  text-decoration: none;
}

.dropdown-list-clalender .list-ul .item.socials a {
  margin-left: 0.4rem;
}

.dropdown-list-clalender .list-ul .item.socials a:last-child {
  margin-left: 0;
}

.dropdown-list-clalender .list-ul .item.socials a i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-list-clalender .list-ul .item.socials a i:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.dropdown-list-clalender .list-ul .item.times-salah #iframe2 {
  -webkit-box-shadow: 0px 0.2rem 0.5rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.5rem rgba(3, 13, 17, 0.27);
  border-radius: 10px;
}

.dropdown-list-clalender .list-ul .item:last-child {
  margin-bottom: 0;
}

/* 3) =====================  القادم سيكون فى الصفحة الرئيسيه فقط ================*/
/* ============ ---- 3 تعديل الصندوق الذى يحتوى على زرار شارك وزار اتصل بنا ============ */
.main-btns {
  background-color: #f1eddc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* تعديل اللينكات */
}

.main-btns .link-main {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 600;
  color: #10526a;
  text-decoration: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-btns .link-main:hover, .main-btns .link-main:active, .main-btns .link-main:active {
  background-color: #10526a;
  color: #f1eddc;
}

/* ====================== السكشن الخاص بالازرار ==================*/
.buttons-pages {
  padding-top: 1rem;
  /*  تعديل الخلفيه الخاصة بالصفحة */
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* لا تعدل هنا (هذا يعدل المسافات الجانبيه بين الازرار) */
  /* =========== تعديل الازرار  ============== */
}

.buttons-pages .col-6 {
  text-align: center;
}

.buttons-pages .btn-whole-box {
  width: calc(100% - 1rem);
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Cairo', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background: #115973;
  border-radius: 7px;
  color: #f1eddc;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.buttons-pages .btn-whole-box:focus {
  border: none;
  outline: none;
}

.buttons-pages .btn-whole-box:hover {
  background-color: #0e485d;
}

.buttons-pages .btn-whole-box .icon-btn {
  width: 50px;
  height: 50px;
}

.buttons-pages .btn-whole-box h4 a {
  color: #f1eddc;
}

/* =============== الفوتر الاول  =============== */
.footer-one {
  background-color: #f1eddc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  /* =========== تعديل الدوال (المشاهدات و اللايكات) ==================== */
}

.footer-one .footer-fn {
  color: #10526a;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-one .footer-fn.views h5 {
  padding: 0.2rem 0.4rem;
  -webkit-box-shadow: 0px 0.2rem 0.8rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.8rem rgba(3, 13, 17, 0.27);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  background-color: #115973;
}

.footer-one .footer-fn.views h5 p {
  color: #f1eddc !important;
  font-size: 0.78rem;
}

.footer-one .footer-fn.views h5 p a {
  color: #f1eddc !important;
  font-size: 0.75rem;
  font-weight: 300;
}

.footer-one .footer-fn.likes .btn-like {
  vertical-align: sub;
  font-family: 'Cairo', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background: #115973;
  border-radius: 7px;
  color: #f1eddc;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  padding: 0.3rem;
}

.footer-one .footer-fn.likes .btn-like:focus {
  border: none;
  outline: none;
}

.footer-one .footer-fn.likes .btn-like:hover {
  background-color: #0e485d;
}

.footer-one .footer-fn.likes .btn-like:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.footer-one .footer-fn.likes .btn-like .like-self {
  font-family: "Cairo";
}

/* 4) ========================== القادم سيكون فى صفحة الاذاعه فقط  ====================*/
/* ================= لتعديل الناف بار الذى فى الاعلي  ============== */
.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  width: 100%;
  background-color: #115973;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.top-nav .wh-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* ========== تعديل ايقونات البلاى ليست والنافبار ========== */
}

.top-nav .wh-box .playlist,
.top-nav .wh-box .nav-dropdown {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top-nav .wh-box .playlist i,
.top-nav .wh-box .playlist svg,
.top-nav .wh-box .nav-dropdown i,
.top-nav .wh-box .nav-dropdown svg {
  vertical-align: middle;
}

.top-nav .wh-box .playlist i,
.top-nav .wh-box .nav-dropdown i {
  color: #f1eddc;
  font-size: 1.1rem;
}

.top-nav .wh-box .playlist path,
.top-nav .wh-box .nav-dropdown path {
  fill: #f1eddc;
}

/* ================ لتعديل الوقت والتاريخ ================= */
.hejry-time {
  background-color: #10526a;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.hejry-time .calender-hejry {
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  max-width: 80%;
  margin: auto;
  padding: 0.6rem 0.4rem 0.3rem;
  border-radius: 5px;
  text-align: center;
  /* ==================== لتعديل الوقت  ============ */
}

.hejry-time .calender-hejry .time-cl {
  color: #f1eddc;
  font-family: fontNumber;
  font-size: 1rem;
}

.hejry-time .calender-hejry .hjr-date {
  color: #f1eddc;
  font-size: 1rem;
}

/* ============== لتعديل تطبيق الاذاعة ================= */
.app-radio {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 89, 115, 0.85)), to(rgba(9, 48, 62, 0.85)));
  background: linear-gradient(0deg, rgba(17, 89, 115, 0.85), rgba(9, 48, 62, 0.85));
  /* ===================== تعديل الصندوق الاب للازرار ================ */
}

.app-radio .rd-logo {
  max-width: 70%;
  display: block;
  margin: auto;
}

.app-radio .controlls-radio {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #10526a;
  /* ============= تعديل المعلومات الخاصه بالصوت الذى يعمل ================ */
  /* ======== تعديل ازار الخاصه بالصوت (تشغيل وايقاف والقادم و الخ) ========== */
  /* ============= تعديل ازار الاعدادات الاضافيه لتشغيل الاذاعة ========== */
}

.app-radio .controlls-radio .information-audio {
  background-color: #115973;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.4rem;
}

.app-radio .controlls-radio .information-audio h4 {
  text-align: center;
  color: #f1eddc;
  font-weight: 600;
}

.app-radio .controlls-radio .players {
  background-color: #115973;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* ============== تعديل كل زرار =============== */
}

.app-radio .controlls-radio .players .pl-btn {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Cairo', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background: #10526a;
  border-radius: 7px;
  color: #f1eddc;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-left: 0.5rem;
}

.app-radio .controlls-radio .players .pl-btn:focus {
  border: none;
  outline: none;
}

.app-radio .controlls-radio .players .pl-btn:hover {
  background-color: #0d4154;
}

.app-radio .controlls-radio .players .pl-btn.play-btn.active {
  background-color: #0d4154;
}

.app-radio .controlls-radio .players .pl-btn:last-child {
  margin-left: 0;
}

.app-radio .controlls-radio .players .pl-btn i {
  font-size: 1.1rem;
  text-align: center;
  display: block;
}

.app-radio .controlls-radio .settings-additions {
  background-color: #115973;
  border-radius: 5px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app-radio .controlls-radio .settings-additions .st-btn {
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  background-color: #10526a !important;
}

.app-radio .controlls-radio .settings-additions .st-btn i {
  vertical-align: middle;
  color: #f1eddc;
}

.app-radio .controlls-radio .settings-additions button.reload-btn {
  font-family: 'Cairo', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background: transparent;
  border-radius: 7px;
  color: #f1eddc;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.app-radio .controlls-radio .settings-additions button.reload-btn:focus {
  border: none;
  outline: none;
}

.app-radio .controlls-radio .settings-additions button.reload-btn:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* ===========  لتعديل قائمه الاذاعات  او اللينكات 

                صفحة تغيير الالوان فى الاذكار هنا      ==================== */
.dropdown-playlist {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 0%;
  z-index: 800;
  background: linear-gradient(230deg, #115973, #187b9f);
  text-align: center;
  /* =============== تعديل زرار الغلق =========== */
  /* =========== تعديل القائمه نفسها =========== */
}

.dropdown-playlist .playlist-close {
  cursor: pointer;
  font-size: 2rem;
  color: #f1eddc;
  margin-top: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropdown-playlist .playlist-close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dropdown-playlist .list-sounds {
  padding: 0;
  list-style: none;
}

.dropdown-playlist .list-sounds li.sound-item {
  text-align: right;
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  border-radius: 5px;
  overflow: hidden;
  background-color: #f1eddc;
  margin-bottom: 0.8rem;
}

.dropdown-playlist .list-sounds li.sound-item:last-child {
  margin-bottom: 0;
}

.dropdown-playlist .list-sounds li.sound-item.active .segment::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #ceecf8;
  z-index: 1;
  -webkit-animation: height-anm 0.8s forwards alternate ease-in-out;
          animation: height-anm 0.8s forwards alternate ease-in-out;
}

.dropdown-playlist .list-sounds li.sound-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropdown-playlist .list-sounds li.sound-item .segment {
  position: relative;
  padding: 0.2rem 0.4rem;
  height: 100%;
}

.dropdown-playlist .list-sounds li.sound-item .segment .title h4,
.dropdown-playlist .list-sounds li.sound-item .segment .discription {
  position: relative;
  z-index: 2;
}

.dropdown-playlist .list-sounds li.sound-item .segment .title {
  color: #187b9f;
  /* صفحة الاذكار =============================== */
}

.dropdown-playlist .list-sounds li.sound-item .segment .title .list-colors {
  margin-top: 0.2rem;
}

.dropdown-playlist .list-sounds li.sound-item .segment .title .list-colors .color-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown-playlist .list-sounds li.sound-item .segment .title .list-colors .color-item.active {
  border: 2px solid #0b3747;
  opacity: 1;
}

.dropdown-playlist .list-sounds li.sound-item .segment .title .list-colors .color-item[data-color="default"] {
  background-color: #10526a;
}

.dropdown-playlist .list-sounds li.sound-item .segment .discription {
  color: #0f4b61;
  font-size: 0.9rem;
  font-weight: 600;
}

/* ============= كتابة ملاحظه اثناء الاستماع ======================= */
.write-note {
  position: fixed;
  right: 0;
  top: 42px;
  width: 100%;
  background: #10526a;
  z-index: 400;
  padding-top: 0.8rem;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
  overflow: none;
  display: none;
}

.write-note textarea {
  padding: 0.4rem;
  border: none;
  outline: none;
  color: #f1eddc;
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #2a647c;
}

.write-note textarea:focus {
  border: none;
  outline: none;
}

.write-note textarea::-webkit-input-placeholder {
  color: rgba(241, 237, 220, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Cairo', sans-serif;
}

.write-note textarea:-ms-input-placeholder {
  color: rgba(241, 237, 220, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Cairo', sans-serif;
}

.write-note textarea::-ms-input-placeholder {
  color: rgba(241, 237, 220, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Cairo', sans-serif;
}

.write-note textarea::placeholder {
  color: rgba(241, 237, 220, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Cairo', sans-serif;
}

.write-note textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.write-note textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.write-note textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

.write-note textarea:focus::placeholder {
  opacity: 0;
}

/* 5) ================= صفحة المجلات او الكتب ================== */
/* =================== تعديل الكتب  ============================*/
.books-libs {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  /*  تعديل الخلفيه الخاصة بالصفحة */
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* تعديلات الكتاب والصصورة واللينك */
  /* تعديل المسند للكتاب */
  /* لتعديل وصف الكتب */
}

.books-libs .book-self {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -0.3rem;
  width: 52%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.books-libs .book-self .link-book {
  overflow: hidden;
}

.books-libs .book-self .link-book img.img-book {
  width: 100%;
  /* اذا تحتاج الصورة بالحجم الكامل ولكن ليست بالمقاسات الطبيعيه احذف هذة الخاصية */
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.books-libs .book-self .link-book.active::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #f1eddc;
  color: #10526a;
  padding: 0.2rem;
}

.books-libs .book-self .link-book.active .img-book {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.books-libs .book-self .down-info-box {
  height: 20%;
  position: relative;
  bottom: 45px;
  padding: 0.4rem 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.books-libs .book-self .down-info-box .btn-di {
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  background-color: #f1eddc;
  border-radius: 5px;
  color: #115973;
  font-size: 0.6rem;
}

.books-libs .book-stand {
  display: block;
  width: 85%;
  height: 0.7rem;
  margin: -2.4rem auto 1.2rem;
  background-color: #115973;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px rgba(16, 82, 106, 0.33);
          box-shadow: 0px 10px 10px rgba(16, 82, 106, 0.33);
}

.books-libs .book-discrption {
  background-color: #115973;
  -webkit-box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  height: 0;
  display: none;
  overflow: hidden;
}

.books-libs .book-discrption .close-btn-inf {
  text-align: center;
}

.books-libs .book-discrption .close-btn-inf i {
  color: #f1eddc;
  font-size: 1.2rem;
}

.books-libs .book-discrption .book-name,
.books-libs .book-discrption span,
.books-libs .book-discrption p,
.books-libs .book-discrption a {
  color: #f1eddc;
}

.books-libs .book-discrption .book-name strong,
.books-libs .book-discrption span strong,
.books-libs .book-discrption p strong,
.books-libs .book-discrption a strong {
  font-size: 0.8rem;
}

.books-libs .book-discrption .book-name {
  text-align: center;
  margin-bottom: 1rem;
}

.books-libs .book-discrption span {
  display: block;
}

.books-libs .book-discrption a {
  text-decoration: underline;
}

.books-libs .book-discrption .links-bk {
  overflow: hidden;
  width: 100%;
  margin-top: 1rem;
}

.books-libs .book-discrption .links-bk .d-book {
  float: left;
}

/* 6) ====================== صفحة المقالات ==================== */
.articles-section {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* صندوق المقاله */
}

.articles-section .article-bx {
  width: 96%;
  border-radius: 5px;
  background-color: #10526a;
  -webkit-box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
  padding: 0.6rem 0.4rem;
  margin-bottom: 0.4rem;
}

.articles-section .article-bx .star-rating {
  overflow: hidden;
  position: relative;
  line-height: 1;
  margin-bottom: 0.2rem;
}

.articles-section .article-bx .star-rating span {
  color: rgba(241, 237, 220, 0.3);
  font-size: 1.1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.articles-section .article-bx .star-rating span.active,
.articles-section .article-bx .star-rating span.active ~ span {
  color: #f1eddc;
}

.articles-section .article-bx .article-title {
  margin: 0.5rem 0;
}

.articles-section .article-bx .article-title a {
  color: #f1eddc;
}

.articles-section .article-bx .share-i {
  line-height: 1;
}

.articles-section .article-bx .share-i i {
  font-size: 0.9rem;
  color: #f1eddc;
}

/* 7) ===================== صفحة الاذكار ====================== */
.azkars-section {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* ======= صندوق اذكار */
}

.azkars-section .az-bx {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow-y: hidden;
  -webkit-transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  max-height: 0;
  /* title =========== */
}

.azkars-section .az-bx.active {
  max-height: 10000px;
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  overflow-y: hidden;
}

.azkars-section .az-bx .title {
  margin-bottom: 1rem;
  background-color: #10526a;
  color: #f1eddc;
  padding: 0rem 0.6rem .6rem;
  border-radius: 2px;
  text-align: center;
}

.azkars-section .az-bx .title p {
  font-size: 0.8rem;
}

.azkars-section .az-bx .az-self {
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  position: relative;
  margin-bottom: 1rem;
  /* علامه الوقف ================= */
  /* تعديل الجزى النصي =========== */
  /* تعديل الخيارات ============= */
}

.azkars-section .az-bx .az-self .stopping-mark {
  display: block;
  width: 20px;
  height: 10px;
  -webkit-clip-path: polygon(100% 0, 65% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
          clip-path: polygon(100% 0, 65% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  background-color: rgba(226, 99, 99, 0.741);
  position: absolute;
  bottom: 55px;
  left: 0;
}

.azkars-section .az-bx .az-self .text-az {
  border-radius: 2px 2px 0 0;
  padding: 1rem 0.5rem;
  background-color: #115973;
  line-height: 1.8;
  color: #f1eddc;
}

.azkars-section .az-bx .az-self .options {
  background-color: #10526a;
  padding: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border-radius: 0px 0px 2px 2px;
}

.azkars-section .az-bx .az-self .options span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #115973;
  border-left: none;
  color: #f1eddc;
  font-weight: 600;
  border-radius: 5px;
  /* تعديل ازرار العد ======= */
  /* زرار النسخ ========== */
}

.azkars-section .az-bx .az-self .options span:last-child {
  border-left: 2px solid #115973;
}

.azkars-section .az-bx .az-self .options span.static-number, .azkars-section .az-bx .az-self .options span.changable-counter {
  font-size: 1.1rem;
  font-weight: bold;
}

.azkars-section .az-bx .az-self .options span.changable-counter {
  position: relative;
}

.azkars-section .az-bx .az-self .options span.changable-counter .anm-number {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #082935;
  color: #f1eddc;
  position: absolute;
  top: 0;
  right: 20px;
  border-radius: 50%;
  -webkit-animation: counter-anm 2s forwards linear;
          animation: counter-anm 2s forwards linear;
}

.azkars-section .az-bx .az-self .options span.copy-content, .azkars-section .az-bx .az-self .options span.run-player {
  overflow: hidden;
}

/* 8) ===================== صفحة المقاله المنفرده ================ */
.the-article-section {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* المقاله العاديه بدون الضغط عليها  ============ */
  /* صندوق المقاللات الاخرى ================== */
  /* المقاله عند الضغط عليها ================== */
}

.the-article-section p {
  line-height: 2;
}

.the-article-section .article-inner {
  background-color: #115973;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  border-radius: 5px;
  position: relative;
  /* زر المشاركه والنسخ ================== */
  /* تنسيق المقاله ====================== */
  /* السهم الاعلي ===================== */
}

.the-article-section .article-inner .copy-and-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the-article-section .article-inner .copy-and-share .ln-cs {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.2rem 0.6rem;
  color: #f1eddc;
}

.the-article-section .article-inner .copy-and-share .ln-cs.note {
  -webkit-box-flex: 13;
      -ms-flex: 13;
          flex: 13;
  text-align: center;
  padding: 0.2rem 0;
  font-weight: 600;
}

.the-article-section .article-inner .copy-and-share .ln-cs.share {
  text-align: left;
}

.the-article-section .article-inner .the-article-self {
  color: #f1eddc;
  padding: 0.6rem;
}

.the-article-section .article-inner .the-article-self .art-link {
  color: #f1eddc;
  font-weight: bold;
}

.the-article-section .article-inner .scroll-up-inner {
  position: absolute;
  left: 10px;
  bottom: 5px;
  background-color: #115973;
  color: #f1eddc;
  text-align: center;
  opacity: 0.2;
  padding: 0.2rem 0.8rem;
}

.the-article-section .other-articles {
  background-color: #10526a;
  padding: 0.6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  text-align: center;
  /* عنوان ======================= */
  /* صندوق اللينكات ============== */
}

.the-article-section .other-articles .title-other {
  color: #f1eddc;
  font-size: 0.8rem;
}

.the-article-section .other-articles .ul-parent {
  margin-top: 0.4rem;
}

.the-article-section .other-articles .ul-parent .item {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  background-color: #115973;
  border-radius: 5px;
  color: #f1eddc;
  margin-bottom: 0.4rem;
  margin-left: 0.3rem;
}

.the-article-section .other-articles .ul-parent .item:last-child {
  margin-left: 0;
}

.the-article-section .article-outer-parent {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 82, 106, 0.98);
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 0.4rem;
  /* Active */
}

.the-article-section .article-outer-parent .article-outer-child {
  background-color: #f1eddc;
  border-radius: 5px;
  /* تنسيق المقاله ====================== */
  /* تنسيق السهم ==================== */
}

.the-article-section .article-outer-parent .article-outer-child .the-article-self {
  color: #10526a;
  padding: 0.6rem;
}

.the-article-section .article-outer-parent .article-outer-child .the-article-self .art-link {
  color: #f1eddc;
  font-weight: bold;
}

.the-article-section .article-outer-parent .article-outer-child .scroll-up {
  background-color: #115973;
  color: #f1eddc;
  width: 40px;
  text-align: center;
  position: fixed;
  bottom: 3%;
  z-index: 2;
  left: 10px;
  opacity: 0.2;
}

.the-article-section .article-outer-parent.active {
  display: block;
}

/* 9) ===================== صفحة اسماء الله الحسني ============ */
.allah-names-section {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* الصندوق الخاص بالاسماء فقط ==========================*/
  /* تعديل الاعمده ==== */
  /* ======= تنسيق صندوق الذى يحتوي اسم الله */
  /* الصندوق الخاص بالمعاني ========================== */
}

.allah-names-section [class*="col"] {
  padding-left: 4px;
  padding-right: 4px;
}

.allah-names-section .box-name {
  background-color: #10526a;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  /* الاسم نفسه ===== */
}

.allah-names-section .box-name.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 1.25s infinite forwards cubic-bezier(0.66, 0, 0, 1);
          animation: pulse 1.25s infinite forwards cubic-bezier(0.66, 0, 0, 1);
}

.allah-names-section .box-name span {
  display: block;
  /* ======= الرقم */
  /* تعديل علامه التعجب ======= */
  /* علامه تشغيل الصوت ========= */
}

.allah-names-section .box-name span.number {
  background-color: #115973;
  padding: 0rem 0.5rem;
  color: #f1eddc;
  border-radius: 0 0 5px 0;
  -webkit-box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.2rem rgba(3, 13, 17, 0.27);
  position: absolute;
  top: 0;
  left: 0;
}

.allah-names-section .box-name span.exc-mark {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #f1eddc;
}

.allah-names-section .box-name span.run-audio {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: #f1eddc;
}

.allah-names-section .box-name .allah-name {
  color: #f1eddc;
}

.allah-names-section .catch-all-definations {
  /* تعديل الصندوق الاب =========== */
}

.allah-names-section .catch-all-definations .box-def {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 82, 106, 0.98);
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 0.4rem;
  padding: 0;
  -webkit-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  top: -200%;
  /* تعديل الناف الاعلي ======== */
  /* السيرش الموجود فى صفحة المقالات فقط ==========*/
  /* النصوص والمعاني */
  /* زر الاغلاق */
}

.allah-names-section .catch-all-definations .box-def.active {
  top: 0;
}

.allah-names-section .catch-all-definations .box-def .top-nav-def {
  background-color: #115973;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(241, 237, 220, 0.2);
}

.allah-names-section .catch-all-definations .box-def .top-nav-def .copy-btn,
.allah-names-section .catch-all-definations .box-def .top-nav-def .run-audio,
.allah-names-section .catch-all-definations .box-def .top-nav-def .share {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #f1eddc;
}

.allah-names-section .catch-all-definations .box-def .top-nav-def .def-word {
  line-height: 2.4;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  color: #f1eddc;
}

.allah-names-section .catch-all-definations .box-def .search-bx {
  width: 100%;
  background-color: #115973;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.allah-names-section .catch-all-definations .box-def .search-bx input:focus {
  border-color: #136380 !important;
}

.allah-names-section .catch-all-definations .box-def .search-bx i.circular.icon {
  color: #10526a;
  top: 0.52em !important;
  right: 0.5em !important;
}

.allah-names-section .catch-all-definations .box-def .bxs-th {
  background-color: #115973;
  color: #f1eddc;
  border-radius: 5px;
  padding: 0.4rem 0.4rem 0.8rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
}

.allah-names-section .catch-all-definations .box-def .bxs-th h5 {
  border-bottom: 1px solid rgba(241, 237, 220, 0.2);
  padding-bottom: 0.4rem;
  margin-bottom: 0.5rem;
}

.allah-names-section .catch-all-definations .box-def .bxs-th:last-child {
  margin-bottom: 0;
}

.allah-names-section .catch-all-definations .box-def .close-box {
  color: #f1eddc;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

/* 10) ===================== صفحة السنن ============ */
.sonan-section {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* تعديل نظام الجريد */
  /* تعديل صناديق السنن المهجورة والموقوته ========= */
}

.sonan-section .container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}

.sonan-section .sonan-boxs {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow-y: hidden;
  -webkit-transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  max-height: 0;
  /* الازرار الخاصه بالسنن ============== */
  /* الجزى الخاص بالمحتويات ========== */
}

.sonan-section .sonan-boxs.active {
  max-height: 10000px;
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  overflow-y: hidden;
}

.sonan-section .sonan-boxs .title-sbx {
  margin-bottom: 1rem;
  background-color: #10526a;
  color: #f1eddc;
  padding: 0rem 0.6rem .6rem;
  border-radius: 2px;
  text-align: center;
}

.sonan-section .sonan-boxs .title-sbx p {
  font-size: 0.8rem;
}

.sonan-section .sonan-boxs .bx-sn-bt {
  font-family: 'Cairo', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  background: #10526a;
  border-radius: 7px;
  color: #f1eddc;
  line-height: 1.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  padding: 0.4rem 0.2rem;
  height: 70px;
  width: 95%;
  margin: auto;
}

.sonan-section .sonan-boxs .bx-sn-bt:focus {
  border: none;
  outline: none;
}

.sonan-section .sonan-boxs .bx-sn-bt:hover {
  background-color: #0d4154;
}

.sonan-section .sonan-boxs .bx-sn-bt.active {
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
  -webkit-animation: pulse infinite forwards 1.25s cubic-bezier(0.47, 0, 0.745, 0.715);
          animation: pulse infinite forwards 1.25s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.sonan-section .sonan-boxs .all-sonan-bx-cn {
  /* الصندوق الاب للمحتويات  لكل عنصر */
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx {
  background-color: #10526a;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0.2rem 0.5rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.5rem rgba(3, 13, 17, 0.27);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  overflow-y: hidden;
  -webkit-transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  max-height: 0;
  /* تعديل الراس ========= */
  /* تعديل المحتويات نفسها ======== */
  /* زر الغلق ==================== */
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx.active {
  max-height: 10000px;
  height: auto;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  overflow-y: hidden;
  padding: 1rem 0.2rem;
  margin: 0.5rem 0;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .nav-pbx {
  margin-bottom: 1rem;
  background-color: #f1eddc;
  color: #10526a;
  padding: 0rem 0.6rem .6rem;
  border-radius: 2px;
  text-align: center;
  width: 90%;
  margin: auto;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .nav-pbx .search-bx input:focus {
  border-color: #136380 !important;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .nav-pbx .search-bx i.circular.icon {
  color: #10526a;
  top: 0.12em !important;
  right: .1em !important;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .nav-pbx p {
  font-size: 0.8rem;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .parent-list-s {
  padding: 0.5rem 0.25rem;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .parent-list-s .item-s {
  background-color: #f1eddc;
  color: #10526a;
  padding: 0.4rem;
  -webkit-box-shadow: 0px 0.2rem 0.5rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.5rem rgba(3, 13, 17, 0.27);
  border-radius: 5px;
  margin-bottom: 1rem;
  /* البارجراف ======== */
  /* الاوبشنز ======= */
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .parent-list-s .item-s:last-child {
  margin-bottom: 0;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .parent-list-s .item-s .content-p {
  margin-bottom: 0.5rem;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .parent-list-s .item-s .options {
  border-top: solid 1px rgba(16, 82, 106, 0.33);
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .parent-list-s .item-s .options .op {
  overflow: hidden;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  background-color: #10526a;
  color: #f1eddc;
  border-radius: 5px;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .close-box {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  color: #f1eddc;
  margin-top: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sonan-section .sonan-boxs .all-sonan-bx-cn .parent-bx .close-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* ======================= اشياء ثابته ======================== */
/* =============== ثابته فى بعض الصفحات | تعديل قائمه الفهرس ================= */
.alfahrs-list {
  background-color: #10526a;
  position: fixed;
  bottom: 43px;
  left: 0;
  height: 0px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  overflow-y: auto;
  /* صفحة المجلات */
  /* صفحة المقالات */
}

.alfahrs-list .title {
  color: #f1eddc;
  text-align: center;
  margin-bottom: 0.8rem;
}

.alfahrs-list .fhrs-item {
  display: block;
  background-color: #f1eddc;
  color: #10526a;
  border-radius: 0.2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.alfahrs-list .fhrs-item:last-child {
  margin-bottom: 0;
}

.alfahrs-list .ol-main-pr .main-li {
  background-color: #f1eddc;
  padding: 0 0.5rem;
  margin-bottom: 0.4rem;
  border-radius: 5px;
}

.alfahrs-list .ol-main-pr .main-li:last-child {
  margin-bottom: 0;
}

.alfahrs-list .ol-main-pr .main-li .main-header {
  color: #10526a;
  font-weight: 800;
}

.alfahrs-list .ol-main-pr .main-li .branchs {
  height: 0;
  overflow: hidden;
  margin-right: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.alfahrs-list .ol-main-pr .main-li .branchs .br-ln {
  color: #10526a;
  font-weight: 600;
}

.alfahrs-list .ol-main-pr .main-li .branchs .br-ln::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #10526a;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.alfahrs-list .ol-main-pr .main-li.active {
  padding-bottom: 0.5rem;
}

.alfahrs-list .ol-main-pr .main-li.active .branchs {
  height: auto;
}

/* ============== تعديل الكتب الاكثر قراءة | ثابتة فى بعض الصفحات ============== */
.most-reading-list {
  background-color: #10526a;
  position: fixed;
  bottom: 43px;
  left: 0;
  height: 0px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  overflow-y: auto;
}

.most-reading-list .title {
  color: #f1eddc;
  text-align: center;
  margin-bottom: 0.8rem;
}

.most-reading-list .most-item {
  background-color: #f1eddc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.4rem;
}

.most-reading-list .most-item img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.most-reading-list .most-item .segment {
  padding: 0.2rem 0.4rem;
}

.most-reading-list .most-item .segment .bk-name {
  color: #10526a;
  overflow: hidden;
  /* صفحة المقالات فقط */
}

.most-reading-list .most-item .segment .bk-name .rating-numbers {
  display: inline-block;
  border-left: 1px solid rgba(16, 82, 106, 0.2);
  padding-left: 5px;
  margin-left: 2px;
}

.most-reading-list .most-item .segment .bk-name .read-v {
  float: left;
  border-right: 1px solid rgba(16, 82, 106, 0.2);
  padding-right: 5px;
}

/* ==============  تعديل اخترنا هذا الاسبوع واطلب عنوان  | ثابته فى بعض الصفحات ========== ========*/
.footer-two {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 42px;
  left: 0;
}

.footer-two .catch-them {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-two .catch-them a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #f1eddc;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #115973;
  text-align: center;
  font-size: 0.8rem;
}

/* صندوق السلف ============== */
.box-salaf {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 82, 106, 0.98);
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 0.4rem;
  padding: 0;
  top: -200%;
  -webkit-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  /* السيرش الموجود فى صفحة المقالات فقط ==========*/
  /* النصوص والمعاني */
  /* زر الاغلاق */
}

.box-salaf.active {
  top: 0;
}

.box-salaf .top-nav-def {
  background-color: #115973;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(241, 237, 220, 0.2);
}

.box-salaf .top-nav-def .copy-btn,
.box-salaf .top-nav-def .share {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #f1eddc;
}

.box-salaf .top-nav-def .def-word {
  line-height: 2.4;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  color: #f1eddc;
}

.box-salaf .search-bx {
  width: 100%;
  background-color: #115973;
  padding: 0.4rem;
}

.box-salaf .search-bx input:focus {
  border-color: #136380 !important;
}

.box-salaf .search-bx i.circular.icon {
  color: #10526a;
  top: 0.52em !important;
  right: 0.5em !important;
}

.box-salaf .bxs-th {
  background-color: #115973;
  color: #f1eddc;
  border-radius: 5px;
  padding: 0.4rem 0.4rem 0.8rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
          box-shadow: 0px 0.2rem 0.4rem rgba(3, 13, 17, 0.27);
}

.box-salaf .bxs-th h5 {
  border-bottom: 1px solid rgba(241, 237, 220, 0.2);
  padding-bottom: 0.4rem;
  margin-bottom: 0.5rem;
}

.box-salaf .bxs-th:last-child {
  margin-bottom: 0;
}

.box-salaf .close-box {
  color: #f1eddc;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

/* 8) =================== انيميشن للزرار  ===================== */
.add-animation-scale {
  -webkit-animation: scale-anm 0.29s forwards;
          animation: scale-anm 0.29s forwards;
}

@-webkit-keyframes scale-anm {
  0% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-anm {
  0% {
    -webkit-transform: scale(30);
            transform: scale(30);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes counter-anm {
  0% {
    opacity: 1;
    top: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    top: -100px;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes counter-anm {
  0% {
    opacity: 1;
    top: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    top: -100px;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
